{% set page_title = filename %}
{% set base_url = resource.path.split('.') | first %}
{% set table_page_url = base_url + ".html" %}
{% extends "_base.html" %}
{% block top %}
  {% if config.show_breadcrumbs %}
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="{{config.service_url}}">Home</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="{{config.base_url}}">{{ datapackage.title }}</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="{{config.base_url}}/{{table_page_url}}">{{resource.title}}</a></li>
        </ol>
      </div>
    </nav>
  {% endif %}
{% endblock %}
{% block content %}
  <h1 class="nhsuk-heading-xl">{{resource.title}} &mdash; {{item["version"]}} </h1>
  <dl class="nhsuk-summary-list">
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Version
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{item["version"]}}
      </dd>
    </div>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Date
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{item["date"]}}
      </dd>
    </div>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Release notes
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{item["release-notes"]}}
      </dd>
    </div>
  </dl>
  <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
  <h2  class="nhsuk-heading-m">About this record</h2>
  <p class="nhsuk-body-s">
    This record is part of the <a href="{{config.base_url}}/{{table_page_url}}">{{resource.title}}</a> dataset, which is part of the <a href="{{config.base_url}}">{{ datapackage.title }}</a>.
  </p>
{% endblock %}
