{% set page_title = filename %}
{% extends "_base.html" %}
{% block top %}
  {% if config.show_breadcrumbs %}
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="{{config.service_url}}">Home</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="{{config.base_url}}">{{ datapackage.title }}</a></li>
        </ol>
      </div>
    </nav>
  {% endif %}
{% endblock %}
{% block content %}
<h1 class="nhsuk-heading-xl">{{resource.title}}</h1>
<p class="nhsuk-body-l">{{resource.description}}</p>
<table class="nhsuk-table-responsive">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr>
      <th>Version</th>
      <th>Date</th>
      <th>Release notes</th>
      <th>View record</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    {% for row in data %}
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Version</span>
          {{row["version"]}}
        </td>
        <td class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Date</span>
          {{row["date"]}}
        </td>
        <td class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Release notes</span>
          {{row["release-notes"]}}
        </td>
        <td class="nhsuk-table__cell">
          {% set item_page_url = "data/" + row["slug"] + ".html" %}
          <a href="{{config.base_url}}/{{item_page_url}}">View record</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
<h2 class="nhsuk-heading-m">About this dataset</h2>
<p class="nhsuk-body-s">
  {% set base_url = resource.path.split('.') | first %}
  {% set list_page_url = base_url + "-list" + ".html" %}
  This dataset is part of the <a href="{{config.base_url}}">{{ datapackage.title }}</a>. You can <a href="{{config.base_url}}/{{resource.path}}">download it as a CSV</a>.
</p>
{% endblock %}
