{% set page_title = datapackage.title %}
{% extends "_base.html" %}
{% block top %}
  {% if config.show_breadcrumbs %}
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="{{config.service_url}}">Home</a></li>
        </ol>
      </div>
    </nav>
  {% endif %}
{% endblock %}
{% block content %}
  <h1 class="nhsuk-heading-xl" property="dct:title">{{ datapackage.title }}</h1>
  {% if datapackage.description %}
    <p class="nhsuk-body-l" property="dct:description">{{ datapackage.description }}</p>
  {% endif %}
  <table class="nhsuk-table-responsive">
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr>
        <th role="columnheader" class="" scope="col">Name</th>
        <th role="columnheader" class="" scope="col">Description</th>
        <th role="columnheader" class="" scope="col">Data</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      {% for resource in datapackage.resources %}
        {% set base_url = resource.path.split('.') | first %}
        {% set table_page_url = base_url + ".html" %}
        <tr property="dcat:distribution" typeof="dcat:Distribution" class="nhsuk-table__row">
          <td property="dcat:title" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Name</span>
            {{ resource.title }}
          </td>
          <td property="dcat:description" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Description</span>
            {{ resource.description }}
          </td>
          <td>
            <span class="nhsuk-table-responsive__heading">Data</span>
            <ul>
              <li><a href="{{table_page_url}}">View as table</a></li>
              <li><a href="{{resource.path}}">Download CSV</a></li>
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr class="nhsuk-section-break nhsuk-section-break--l">

  <h2  class="nhsuk-heading-m">About this dataset</h2>
  {% if datapackage['updated'] or datapackage['created'] %}
    <p class="nhsuk-body-s">
      {% if datapackage['created'] %}
        Created on {{datapackage['created']|formatdatestring}}.
      {% endif %}
      {% if datapackage['updated'] %}
        Last updated on {{datapackage['updated']|formatdatestring}}.
      {% endif %}
    </p>
  {% endif %}
  <p class="nhsuk-body-s">
      Avalible in a <a href="datapackage.json">machine readable format</a> using the <a href="https://specs.frictionlessdata.io/data-package/#language">data package specification</a>.
    {% if config['github_url'] %}
      You can <a href="{{config['github_url']}}/commits/gh-pages.atom">subscribe to changes</a> and <a href="{{config['github_url']}}">view the data</a> on GitHub.
    {% endif %}
    {% if datapackage.licenses %}
      {% if datapackage.licenses|length > 1 %}
        Available under the following licences:
        <ul>
          {% for source in datapackage.licenses %}
            <li>
              <a href="{{datapackage.licenses[0]['path']}}"><span property="dct:license">{{datapackage.licenses[0]['title']}}</span></a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
          Available under the <a href="{{datapackage.licenses[0]['path']}}"><span property="dct:license">{{datapackage.licenses[0]['title']}}</span></a>.
      {% endif %}
    {% endif %}

  {% if datapackage.sources %}
    <p class="nhsuk-body-s">Compiled from the following sources:</p>
    <ul class="nhsuk-body-s">
      {% for source in datapackage.sources %}
        <li>
          {% if source.web %}
            <a href="{{source.web}}">{{source.title}}</a>
          {% else %}
            {{source.title}}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if datapackage.contributors %}
    <p class="nhsuk-body-s">
      It is managed by:
    </p>
    <ul class="nhsuk-body-s">
      {% for contributor in datapackage.contributors %}
        <li>
          {% if contributor.path %}
            <a href="{{contributor.path}}">{{contributor.title}}</a>
          {% else %}
            {{contributor.title}}
          {% endif %}
          {% if contributor.email %}
            <a href="mailto:{{contributor.email}}">({{contributor.email}})</a>
          {% endif %}
          &mdash; {{ contributor.role[0]|upper}}{{contributor.role[1:] }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
